.idea
.venv
.claude.md
*.gz
images/*
test/create_dataset.py
dataset_local/*
dataset_question/*
src/eval_tool/*
setup_temp.sh
requirements_temp.txt
.env
test/read_dataset.py
test/upload_existing_dataset.py
analysis_color_noise/*
analysis_color_noise_2/*
results/*
pico_banana/*